<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        成績
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="parent">
                <% @player.scores.each do |score| %>
                  <div class="detail">
                    <table border ="1">
                      <tr>
                        <th><%= score.season %>年</th>
                        <th>安打</th>
                        <th>二塁打</th>
                        <th>三塁打</th>
                        <th>ホームラン</th>
                        <th>打率</th>
                        <th>打点</th>
                        <th>勝ち</th>
                        <th>負け</th>
                        <th>ホールド</th>
                        <th>セーブ</th>
                      </tr>
                        <td></td>
                        <td><%= score.hits %></td>
                        <td><%= score.double %></td>
                        <td><%= score.triple %></td>
                        <td><%= score.home_run %></td>
                        <td><%= score.avarage %></td>
                        <td><%= score.points %></td>
                        <td><%= score.win %></td>
                        <td><%= score.lose %></td>
                        <td><%= score.hold %></td>
                        <td><%= score.close %></td>
                      </tr>
                    </table>  
                    
                    
                    <div class="buttons">
                      <% if current_user.id == 1 %>
                      <%= link_to "編集画面へ", edit_score_path(score), class: "button is-success" %>
                      <% end %>
                    </div>
                    
                  
                  </div>
                  
                <% end %>
            
              </div>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
      
            
                
                 