<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        選手詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-7">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by1">
              <%= attachment_image_tag @player, :image %>
            </figure>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="name is-4"><%= @player.name %></p>
              </div>
            </div>
              <table class="table is-narrow">
                <tr>
                  <th>チーム</th>
                  <td><%= @player.team %></td>
                </tr>
                <tr>
                  <th>背番号</th>
                  <td><%= @player.number %></td>
                </tr>
                <tr>
                  <th>生年月日</th>
                  <td><%= @player.birthday.strftime('%Y年%m月%d日') %></td>
                </tr>
                <tr>
                  <th>年齢</th>
                  <td><%= @player.old %></td>
                </tr>
                <tr>
                  <th>出身地</th>
                  <td><%= @player.place %></td>
                </tr>
                  <tr>
                  <th>身長</th>
                  <td><%= @player.height %></td>
                </tr>
                <tr>
                  <th>体重</th>
                  <td><%= @player.weight %></td>
                </tr>
                <tr>
                  <th>血液型</th>
                  <td><%= @player.group %></td>
                </tr>
                <tr>
                  <th>ポジション</th>
                  <td><%= @player.position %></td>
                </tr>
                <tr>
                  <th>ドラフト年</th>
                  <td><%= @player.draht %></td>
                </tr>
                <tr>
                  <th>プロ通算年</th>
                  <td><%= @player.total %></td>
                </tr>
                <tr>
                  <th>経歴</th>
                  <td><%= @player.career %></td>
                </tr>
              </table>
              
              <% if current_user.id == 1 %>
                <%= link_to "選手編集画面へ", edit_player_path(@player), class: "button is-success" %>
              
                <%= link_to "成績登録へ", new_score_path( player_id: @player.id), class: "button is-warning" %>
                
                <% if @player.scores.present? %>
                  <%= link_to "成績へ", score_path(@player.scores.first.id), class: "button is-primary" %>
                <%end %>
              
                <%= link_to player_path(@player), method: :delete, data: {confirm: "削除しますか？"}, class: "panel-block" do %>
                  <span class="panel-icon">
                   <i class="fas fa-trash"></i>
                  </span>
                この選手を削除する
                <% end %>
                 <% else %>
                   <% if @player.scores.present? %>
                     <%= link_to "成績へ", score_path(@player.scores.first.id), class: "button is-primary" %>
                   <% end %>
              <% end %>
              
           </div>
        </div>
      </div>
    </div>
  </div>
</section>
              
             


  
  




